@import 'katex/dist/katex.min.css';

[data-markdown-variant='default'] {
  & .shiki,
  & .shiki span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}

[data-markdown-variant='invert'] {
  & .shiki,
  & .shiki span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

.dark [data-markdown-variant='invert'] {
  & .shiki,
  & .shiki span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}

.dark [data-markdown-variant='default'] {
  & .shiki,
  & .shiki span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}
